# Patterns to ignore when building Docker images.
.git
.gitignore
.dockerignore
node_modules
npm-debug.log
Dockerfile*
docker-compose*
.DS_Store
Thumbs.db
.env
.env.production
.env.development
.env.local
.next
out
coverage
.vercel
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache
.mypy_cache
.hypothesis
