# Default values for todo-chatbot.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  environment: development

frontend:
  replicaCount: 2
  image:
    repository: todo-chatbot-frontend
    pullPolicy: Never
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"
  service:
    type: ClusterIP
    port: 80
    targetPort: 3000
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

backend:
  replicaCount: 2
  image:
    repository: todo-chatbot-backend
    pullPolicy: Never
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"
  service:
    type: ClusterIP
    port: 8000
    targetPort: 8000
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 200m
      memory: 256Mi

config:
  environment: development
  # For local development, this might be overridden. 
  # For K8s internal comms, services use their cluster names.
  nextPublicApiUrl: "http://backend-service:8000"

notificationService:
  enabled: true
  replicaCount: 1
  image:
    repository: notification-service
    pullPolicy: Never
    tag: "latest"
  service:
    port: 8001
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 64Mi

recurringTaskService:
  enabled: true
  replicaCount: 1
  image:
    repository: recurring-task-service
    pullPolicy: Never
    tag: "latest"
  service:
    port: 8002
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 64Mi

kafka:
  brokers: "taskflow-kafka-kafka-bootstrap.kafka.svc.cluster.local:9092"


# Secrets should be provided via --set or values.secrets.yaml
secrets:
  databaseUrl: ""
  openaiApiKey: ""
  geminiApiKey: ""
  betterAuthSecret: ""
  jwtSecret: ""
